################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cpp98_Tools.sln
/Cpp98_Tools.vcxproj
/Cpp98_Tools.vcxproj.filters
/CppProperties.json
/tests.cpp
/Cpp98_Tools.vcxproj.user
/x64
