################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cpp98_Tools.sln
/CppProperties.json
/tests.cpp

/x64
/CPP_98 Tools.sln
*.vcxproj
*.filters
*.user
/include/testing
/include/borland/__history
/include/cpp98/__history
/include/bits/__history
