################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cpp98_Tools.sln
/CppProperties.json
/tests.cpp

/x64
/CPP_98 Tools.sln
*.vcxproj
*.filters
*.user
/rc_base.cpp
